<% include ./partials/header %>
    <h1 style="font-size: 75px; color: dodgerblue"><%= title %></h1>

      <% if(errors != undefined){  %>
    <% errors.forEach(function(err){ %>
        <h4><%= err.msg %></h4>
      <% }) %>
    <% } %>

    <h2>Add User</h2>
    <form method="POST" action="/" style="width: 30%">
      <div class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" type="text" name="firstName" value="" >
      </div>
      <div class="form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control"  type="text" name="lastName" value="">
      </div>
      <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control"  type="text" name="email" value="">
      </div>
      <div class="form-group">
      <input class="btn btn-med btn-success" type="submit" name="" value="Submit">
    </form>
    <p>
  <ul>
    <% users.forEach(function(user){ %>

      <li> <%= user.firstName%> <%= user.lastName%> <a href="mailto:<%= user.email %>"> <%= user.email %></a>
        </li>
      <a href="/users/delete/<%= user._id %>" class="btn btn-danger btn-sm deleteUser" data-id='<%= user._id %>'>Delete</a>
      <% }) %>
    </ul>
    </p>
<% include ./partials/footer %>
